/*The import of the style used*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,500;1,700&family=Ubuntu:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.max-width{
    max-width: 1800px; 
    margin: auto;
    padding: 0 80px;
}

/*--------------------navbar styling-------------------------*/

.navbar{
    position: fixed;
    
    width: 100%;
    font-family: 'Ubuntu', sans-serif;
    /*
    background: sienna;
    */
    padding: 30px 0;
    transition: all 0.35s ease;
    z-index: 1;
}

.navbar.sticky{
    padding: 23px 0;
    background: sienna;
}

.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .menu li a{
    color:#fff;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    transition: color 0.3s ease;
    display: block;
}

.lio{
    color: sienna;
    transition: all 0.45s ease;
} 
.navbar.sticky .lio{
    color:#fff;
}

.navbar .menu li a:hover{
    color: sienna;

}

/*Changing the color of the li when in scroll and hover*/
.navbar.sticky .menu li a:hover{
    color: #fff;
}

.navbar .menu li{
    list-style: none;
    display: inline-block;
}

.navbar .logo a{
    font-size: 35px;
    font-weight: 600;
    color: #fff;
}


/* -------------------------------Hamburger menu styling-----------------------*/
.menu-btn{
    color: #fff;
    font-size: 24px;
    cursor: pointer;
    display: none;
}


/*------------------------------------home section styling-------------------------*/

.home{
    display: flex;
    background: url("images/Alinaimagine3.jpeg") no-repeat center;
    height: 100vh;
    color: #fff;
    background-size: cover; /* for the image to cover the entire background*/
    background-attachment: fixed;
    min-height: 500px;
    font-family: 'Ubuntu', sans-serif;
}

.home .max-width{
    margin: auto 0 auto 40px;
}

.home-content{
    font-family: 'Ubuntu', sans-serif;
    display: block;
}

.home-content .text-1{
    font-size:26px ;
}

.home-content .text-2{
    font-size:65px ;
    font-weight: 600;
    margin-left: -5px;
}

.home-content .text-3{
    font-size:32px ;
    margin: 5px 0;
}

.home-content .text-3 span{
    color:sienna;
    font-weight: 600;
}
.home .home-content a{
    display: inline-block; 
    background:sienna ;
    color: #fff;
    font-size: 25px;
    padding: 12px 36px;
    margin-top: 20px;
    border-radius: 10px;
    border: 2px solid sienna;
    transition: all 0.35s ease;
 }

 .home .home-content a:hover{
     color: #fff;
     background: none;
 }



 /*---------------------------------------About me section --------------------------*/

section{
    padding: 100px 0;
    z-index: 999;
    background:mintcream;
}

 .about, .services, .skills, .contact {
    font-family: 'Roboto' , sans-serif;
 }

 .about-me{
    position: relative;
    font-family: 'Ubuntu',sans-serif;
    text-align: center;
    bottom: 0px;
    font-size: 40px;
    font-weight: 500;
    margin-bottom:60px ;
    padding-bottom: 20px;
 }
 .about-me::before{
    content: "";
    position: absolute;
    width: 180px;
    height: 4px;
    left:50%;
    bottom: 0px;
    background: #111;  
    transform: translateX(-50%);
 }

 .about-me::after{
    content: "who I am";
    position: absolute;
    padding:5px;
    left:50%;
    bottom: -14px;
    font-size: 23px;
    background: #fff;
    color: sienna;  
    transform: translateX(-50%);
 }

 .about .about-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
 }

 .about .about-content .left{
    width: 45%;
 }

 .about .about-content .right{
    width: 55%;
    
 }

 .about .about-content .right .text{
    font-weight: 600;
    line-height:1.25em;
    font-size: 25px;
    margin-bottom: 10px;
 }

 .about .about-content .right .text span{
    color: sienna;
 }

 .about .about-content .right p{
    font-weight: 500;
    line-height: 1.25em;
    text-align: justify;
 }

 .about .about-content .right a{
    display: inline-block; 
    background:sienna ;
    color: #fff;
    font-size: 20px;
    padding: 8px 28px;
    margin-top: 20px;
    border-radius: 10px;
    border: 2px solid sienna;
    transition: all 0.5s ease;
 }

 .about .about-content .right a:hover{
     color: sienna;
     background: none;
 }
 
.about .about-content .left img{
    height: 500px;
    width: 350px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 50px;
}

/*---------------------------------------Services section----------------------------------------------------*/

.services{
    background:#111;
    color: #fff;
}

.services .about-me::after{
    content: "what i provide";
    background: #111;
}

.services .about-me::before{
    background: #fff;
    width: 220px;
}

.services .services-content,
.skills .skills-content,
.contact .contact-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
 }

.services .services-content .card{
    width: calc(33% - 20px);
    background: #222;
    text-align: center;
    border-radius: 8px;
    padding:20px 25px;
    line-height: 1.25em;
    cursor: pointer;
    transition: all 0.5s ease;
}

.services .services-content .card:hover{
    background: sienna;
    transition: all 0.3s ease;
}

.services .services-content .card:hover i{
    color: #fff;
    transition: all 0.3s ease;
}

.services .services-content .card i{
    font-size: 45px;
    color: sienna;
    margin-bottom: 15px;
    transition: color 0.3s ease;
}

.services .services-content .card .text{
    font-size: 22px;
    margin: 10px 0 15px 0;
    font-weight: 500;
}

.services .services-content .card .box{
    transition: all 0.35s ease;
}

.services .services-content .card:hover .box{
    transform: scale(1.05);
}


/*----------------------------------------------------My skills section start---------------------------------*/
.skills .about-me::after{
    content: "what I know";
}

.skills .skills-content .column{
    width: calc(50% - 30px);
}

.skills-content .left .text, .contact .left .text{
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 12px;
}

.skills-content .left p, .contact .left p, .contact .info{
    font-weight: 500;
    text-align: justify;
}
.skills-content .left a{
    display: inline-block; 
    background:sienna ;
    color: #fff;
    font-size: 16px;
    padding: 6px 22px;
    margin-top: 18px;
    border-radius: 10px;
    border: 2px solid sienna;
    transition: all 0.5s ease;
}

.skills-content .left a:hover{
    color: sienna;
    background: none;
}

.skills-content .right .bars{
    margin-bottom: 13px;
}
/*Am separat folosinf flex-box cele doua valori din div-ul info, cu 'space-between' pentru a le pozitiona pe margine si a parta in mijloc spatiul gol*/
.skills-content .right .info{
    display: flex;
    align-items: center;
    margin-bottom: 2px;
    justify-content: space-between;
}
.skills-content .right span{
    font-weight: 600;
    font-size: 18px;
}
.skills-content .right .line{
    height: 4px;
    width: 100%;
    background: lightgrey;
    position: relative;
}

/*am facut asta ca sa creez liniile rosii care arata cat este de bine stiu un skill. practic, am suprascris linia orgininala pe care am creat-o pentru fiecare skill*/
/*standardul este de 100% dupa care suprascriu peste, fara before nu se pastra linia initiala*/
.skills-content .right .line::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: sienna;
}

.skills-content .right .html::before{
    width: 90%;
}

.skills-content .right .css::before{
    width: 70%;
}

 .skills-content .right .js::before{
     width: 60%;
 }
 .skills-content .right .bts::before{
    width: 60%;
 }
 .skills-content .right .php::before{
     width: 50%;
 }

 /*-------------------------------Contact section start here*/
 .contact .about-me::after{
    content: "get in touch";
 }

.contact .column{
    width: calc(50% - 20px);
}

.contact .column p{
    margin-bottom: 25px;
}

.contact .contact-content .text{
    margin-bottom:20px;
    font-weight: 600;
    align-items: center;
}

.contact-content .icons{
    margin: 10px 0;
}
.contact-content .row{
    display: flex;
    height: 60px;
}

.contact-content .info{
    margin-left: 25px;
} 

.contact-content .row i{
    color: sienna;
    font-size: 25px;
}
.contact-content .info .name{
    font-weight: 800;
}

.contact-content .info .actual-name{
    font-weight: 500;
    color:rgb(68, 57, 57);
}

.contact form .fields{
    display: flex;
}

.contact form .fields,
.contact form .field{
    height: 48px;
    width: 100%;
    margin-bottom: 16px;
}
.contact .name{
    margin-right: 14px;
}
.contact .right form  .subject-message{
    height: 140px;
}
.contact .right .field input,
.contact .right .subject-message textarea{
    font-size: 15px;
    height: 100%;
    width: 100%;
    border-radius: 5px;
    border: 1px solid lightgray;
    outline: none;
    padding: 0 12px;
    font-family: 'Ubuntu',sans-serif;
}
.contact .right form  .subject-message textarea{
    resize: none;
    padding-top: 12px;
    padding-left: 15px;
}
.contact .right .text{
    font-size: 20px;
    text-align: left;
}
/*.contact{
    /*background-color: rgb(17, 17, 17);
}*/
.button button{ 
    font-size: 18px;
    background:sienna;
    color: #fff;
    font-size: 18px;
    padding: 12px 36px;
    margin-top: 20px;
    font-weight: 600;
    border-radius: 10px;
    border: 2px solid sienna;
    cursor: pointer;
    transition: all 0.35s ease; 
}
.button button:hover{
    color: sienna;
    background: none;
}
/*---------------------------------------------Footer section--------------------------------*/
footer{
    font-family: 'Ubuntu',sans-serif;
    font-weight: 400;
    background: #111;
    padding: 40px 40px;
    color: #fff;
    text-align: center;
}

footer span a{
    color: sienna;
    text-decoration: none;
}
footer span a:hover{
    text-decoration: underline;
    font-size: 17px;
    transition: all 1.5s ease;
}

/*--------------------------------------Scroll up button*/
.scroll-button{
    position: fixed;
    background: sienna;
    height: 50px;
    width: 48px;
    right: 35px;
    left:88%;
    top:90%;
    text-align: center;
    line-height: 50px; /*folosit pentru a pune pe mijloc sageata de scroll up*/
    color: #fff;
    z-index: 9999;
    border-radius: 10px;
    font-size: 35px;
    cursor: pointer;
    transition: all 0.55s ease;
    pointer-events: none;
    opacity: 0;
}
.scroll-button.show{
    bottom: 30px;
    opacity: 1;
    pointer-events: auto;
}

/*-------------------------------footer links--------------------------*/
footer .footer-link {
    color: #fff;
    margin-right: 25px;
}
footer .footer-links a:hover{
    text-decoration: underline;
    font-size: 17px;
    transition: all 0.6s ease;
    color: sienna;
}
.fabicons{
    position: relative;
    top: 100px;
    right: 100px;
    padding-top: 40px;
    padding-bottom: 40px;
}
.fabicons .list{
    display: flex;
    justify-content: center;
}

.fabicons .list .list-item{
    list-style: none;
    display: inline-block;
    /*padding: 14px 16px;*/
    margin: 10px 12px;
    font-size: 40px;
    border-radius: 10px;
}
.fabicons .list .list-item a{
    color: #fff;
    height: 100%;
    width: 100%;
}
.fabicons .list .list-item a:hover{
    color: sienna;
    transition: all 0.6s ease;
}

/*------------------------------------Responsive query start------------------------------*/
@media(max-width:1300px){
    .home .max-width{
        margin-left: 0px;
    }
}

@media(max-width:1104px){
    .about .about-content .left img{
        height: 420px;
        width: 300px;
    }
}

@media(max-width:991px){
    .max-width{
        padding: 0 50px;
    }
    
}

@media(max-width:968px){

    .navbar .menu{
        position: fixed;
        height: 100vh;
        width: 100%;
        left: -100%;
        background: #111;
        top: 0;
        text-align: center;
        padding-top: 80px;
        transition: all 0.3s ease;
    }
    .navbar .menu.active{
        left: 0;
    }   
    .menu-btn{
        display: block;
        z-index: 999;;
    }
    .menu-btn i.active:before{
        content: "\f00d"; /* creating the x in the hamburger menu*/
    }

    .navbar .menu li{
        display: block;
    }

    .navbar .menu li a{
        display:inline-block;
        font-size: 24px;
        margin: 20px 0;
    }

    .home-content .text-2{
        font-size:50px ;
    }
    
    .home-content .text-3{
        font-size:30px;
    }

    .home .home-content a{
        font-size: 22px;
        padding: 10px 28px;
    }

    .about .about-content .column{
        width: 100%;
    }

    .max-width{
       max-width: 800px;
    }

    .about-content .left{
        display: flex;
        justify-content: center;
        margin: 0 auto 60px;
    }
    .about-content .right{
        flex: 100%;
    }
    .services .services-content .card{
        width: calc(50% - 10px);
        margin-bottom: 10px;
    }
    .skills .skills-content .column,
    .contact .contact-content .column{
        width: 100%;
        margin-bottom:  15px;

    }
    .skills-content .left a{
        margin-bottom: 20px;
    }
    .fabicons{
        right: 40px;
    }

    
}

@media(max-width:690px){
    .max-width{
        padding: 0 30px;
    }
    .home-content .text-2{
        font-size:45px ;
    }
    
    .home-content .text-3{
        font-size:28px;
    }

    .home .home-content a{
        font-size: 20px;
        padding: 8px 25px;
    }
    .services .services-content .card{
        width: 60%;
        margin: 10px auto 15px auto ;
        
    }
    footer .footer-link{
        margin-right: 15px;
        margin-bottom: 10px;
    }
    .fabicons{
        right: 25px;
    }
}

@media(max-width:500px){
    .max-width{
        padding: 0 25px;
    }
    .home-content .text-2{
        font-size:40px ;
    }
    
    .home-content .text-3{
        font-size:25px;
    }

    .home .home-content a{
        font-size: 18px;
        padding: 7px 22px;
    }
}






